<!DOCTYPE html>
<html>
  <head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Braxton's NBA Application</title>
    <link rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- endinject -->
  </head>
  <body ng-app="NBA5">
		<ng-view autoscroll="true"></ng-view>
  </body>
	<script src="/public/angular/angular.min.js"></script>
	<script src="/public/angular-route/angular-route.min.js"></script>
	<script src="/public/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="/public/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="/public/jquery/dist/jquery.min.js"></script>
	<script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- inject:js -->
	<script src="/javascripts/angularApp.js"></script>
	<script src="/javascripts/Authentication/AuthController.js"></script>
	<script src="/javascripts/Authentication/AuthService.js"></script>
	<script src="/javascripts/Carousel/CarouselController.js"></script>
	<script src="/javascripts/Favorites/FavoritesController.js"></script>
	<script src="/javascripts/Favorites/FavoritesService.js"></script>
	<script src="/javascripts/Footer/FooterDirective.js"></script>
	<script src="/javascripts/Individual/IndividualController.js"></script>
	<script src="/javascripts/Navbar/NavbarDirective.js"></script>
	<script src="/javascripts/Players/PlayersController.js"></script>
	<script src="/javascripts/Players/PlayersDirective.js"></script>
	<script src="/javascripts/Players/PlayersService.js"></script>
	<script src="/javascripts/Profile/ProfileController.js"></script>
	<script src="/javascripts/Profile/ProfileService.js"></script>
	<script src="/javascripts/Scroll/scrollDirective.js"></script>
	<script src="/javascripts/Twitter/TwitterFeedDirective.js"></script>
	<script src="/javascripts/Twitter/TwitterService.js"></script>
	<script src="/javascripts/Youtube/trustYoutubeFilter.js"></script>
	<!-- endinject -->
</html>