<!-- /templates/profile.html -->

<nba-nav></nba-nav>
<div class="container-fluid nopadding">
	<div class="col-xs-12 container--page--profile nopadding">
		<ul class="col-xs-12 nopadding">
			<li class="col-xs-4 profile-data twitter" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_twitter.jpg); background-color: #0EAADD;"><span>{{ twitter }}</span></li>
			<li class="col-xs-4 profile-data facebook" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_facebook.jpg); background-color: #35669F;"><span>{{ facebook }}</span></li>
			<li class="col-xs-4 profile-data instagram" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_instagram.png); background-color: #D0C0AD;"><span>{{ instagram }}</span></li>
			<li class="col-xs-4 profile-data hometown" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_city.jpg);"><span>{{ hometown }}</span></li>
			<li class="col-xs-4 profile-data favoriteTeam" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_teams.jpg);"><span>{{ favoriteTeam }}</span></li>
			<li class="col-xs-4 profile-data favoritePlayer" style="background-image: url(https://s3.amazonaws.com/nbaproject/logo_city.jpg);"><span>{{ favoritePlayer }}</span></li>
		</ul>
	</div>
	<my-footer></my-footer>
</div>